/* whack-a-mole.css */
.snake-game {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 20px auto;
}

.row {
  display: contents;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.snake {
  background-color: #228B22; /* Snake color */
}

.cell {
 background-image: url('${assetsUrl}/Food.png');
background-size: cover;
}

p {
  color: red;
}
