/* whack-a-mole.css */
.snake-game {
  text-align: center;
  align-items: center; 
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin-top: 20px;
}

.row {
  display: contents;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.snake {
  background-color: #228B22; /* Snake color */
}

.reset {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block; 
  margin: 10px auto; /* Center the reset button */
}

